.text-gray {
    color: hsl(0, 0%, 73%);
}

.text-yellow {
    color: #D4BA5E;
}

.bg-green-light {
    background-color: #3DBDA7;
}

.top-34px {
text-align: center;
    bottom: -30%;
}

.text-instagram {
    color: '##9E37B8';
}

.text-twich {
    color: '##9E37B8';
}

.text-tiktok {
    color: '#6441a5';
}